In [1]:
import pandas as pd
import os
import sys
import datetime

#Read new.cvs into new notebook 
df = pd.read_csv("data/csv/new.csv")
#df.dropna(inplace=True)

In [2]:
# convert time into datetime,set year_month as index

df["year"] = pd.to_datetime(df["time"]).dt.to_period("M")
df.set_index("year", inplace=True)

In [3]:

#find monthly medians of temperature`, `relative humidity`, `precipitation`, and `surface pressure`

monthly_medians = df.resample("M")[["temperature_2m","relative_humidity_2m","precipitation","surface_pressure"]].median()

monthly_medians.to_csv("data/csv/monthly_medians.csv")

monthly_medians

/var/folders/rg/csr6nvbs3kn2m8d77jr48cqw0000gn/T/ipykernel_25206/169426161.py:3: FutureWarning: Resampling with a PeriodIndex is deprecated. Cast index to DatetimeIndex before resampling instead.
  monthly_medians = df.resample("M")[["temperature_2m","relative_humidity_2m","precipitation","surface_pressure"]].median()

         temperature_2m  relative_humidity_2m  precipitation  surface_pressure
year
2022-01           19.50                  93.0            0.1             912.4
2022-02           19.40                  92.0            0.0             913.0
2022-03           20.40                  84.0            0.0             914.0
2022-04           19.10                  84.0            0.0             915.2
2022-05           15.50                  77.0            0.0             916.3
2022-06           15.90                  70.0            0.0             917.1
2022-07           16.70                  57.0            0.0             918.3
2022-08           17.30                  55.0            0.0             917.8
2022-09           19.40                  57.5            0.0             916.1
2022-10           20.35                  68.5            0.0             914.5
2022-11           19.40                  76.0            0.0             914.6
2022-12           20.80                  83.0            0.0             914.3
2023-01           20.80                  87.0            0.1             915.6
2023-02           22.10                  86.0            0.0             916.4
2023-03           21.95                  79.0            0.0             917.1
2023-04           20.20                  79.0            0.0             916.7
2023-05           17.75                  74.0            0.0             918.6
2023-06           16.40                  78.0            0.0             919.9
2023-07           17.10                  71.0            0.0             920.4
2023-08           19.25                  68.0            0.0             919.1
2023-09           23.10                  58.5            0.0             918.0
2023-10           22.90                  78.0            0.0             916.0
2023-11           24.10                  68.5            0.0             915.3
2023-12           23.60                  76.0            0.0             915.5

In [4]:
df["year"] = pd.to_datetime(df["time"]).dt.to_period("Y")

In [5]:

#resample yearly median for temperature`, `relative humidity`, `precipitation`, and `surface pressure`

yearly_median=df.resample("Y") [["temperature_2m","relative_humidity_2m","precipitation","surface_pressure"]].median()

#save to csv as yearly_median
yearly_median.to_csv("data/csv/yearly_median_csv")

yearly_median

/var/folders/rg/csr6nvbs3kn2m8d77jr48cqw0000gn/T/ipykernel_25206/4151456564.py:3: FutureWarning: Resampling with a PeriodIndex is deprecated. Cast index to DatetimeIndex before resampling instead.
  yearly_median=df.resample("Y") [["temperature_2m","relative_humidity_2m","precipitation","surface_pressure"]].median()

      temperature_2m  relative_humidity_2m  precipitation  surface_pressure
year
2022            19.1                  77.0            0.0             915.2
2023            21.2                  76.0            0.0             917.2

In [6]:
br = pd.read_csv("data/csv/br_final.csv")

br["year"] = pd.to_datetime(br["year"], format="%Y").dt.to_period("Y")
br.set_index("year", inplace=True)


yearly_median_br = br.resample("Y")[["million_60kgs_bag","nonbear_mill_trees", "bear_mill_trees", "avg_unemp_perc"]].median()

yearly_median_br.to_csv("data/csv/yearly_median_br")

/var/folders/rg/csr6nvbs3kn2m8d77jr48cqw0000gn/T/ipykernel_25206/4231789665.py:7: FutureWarning: Resampling with a PeriodIndex is deprecated. Cast index to DatetimeIndex before resampling instead.
  yearly_median_br = br.resample("Y")[["million_60kgs_bag","nonbear_mill_trees", "bear_mill_trees", "avg_unemp_perc"]].median()

In [7]:

merge_data = pd.merge(yearly_median_br, yearly_median, left_index=True, right_index=True, how="right")

merge_data  ["subdivision"]="Minas Gerais"


merge_data.to_csv("data/csv/merge_data")

merge_data

,million_60kgs_bag,nonbear_mill_trees,bear_mill_trees,avg_unemp_perc,temperature_2m,relative_humidity_2m,precipitation,surface_pressure,subdivision
year,,,,,,,,,
2022,4.6,1500.0,6010.0,7.925,19.1,77.0,0.0,915.2,Minas Gerais
2023,5.1,1510.0,6100.0,NaN,21.2,76.0,0.0,917.2,Minas Gerais