In [1]:
import pandas as pd
import os
import sys
import datetime

#Read new.cvs into new notebook 
df = pd.read_csv("data/csv/new.csv")
#df.dropna(inplace=True)

In [8]:
# convert time into datetime

df["year"] = pd.to_datetime(df["time"])
df.set_index("year", inplace=True)


#find monthly medians of temperature`, `relative humidity`, `precipitation`, and `surface pressure`

monthly_medians = df.resample("M")[["temperature_2m","relative_humidity_2m","precipitation","surface_pressure"]].median()

monthly_medians.to_csv("data/csv/monthly_medians.csv")

monthly_medians

/var/folders/rg/csr6nvbs3kn2m8d77jr48cqw0000gn/T/ipykernel_12475/3389408066.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_medians = df.resample("M")[["temperature_2m","relative_humidity_2m","precipitation","surface_pressure"]].median()

,temperature_2m,relative_humidity_2m,precipitation,surface_pressure
year,,,,
2022-01-31,19.50,93.0,0.1,912.4
2022-02-28,19.40,92.0,0.0,913.0
2022-03-31,20.40,84.0,0.0,914.0
2022-04-30,19.10,84.0,0.0,915.2
2022-05-31,15.50,77.0,0.0,916.3
2022-06-30,15.90,70.0,0.0,917.1
2022-07-31,16.70,57.0,0.0,918.3
2022-08-31,17.30,55.0,0.0,917.8
2022-09-30,19.40,57.5,0.0,916.1
2022-10-31,20.35,68.5,0.0,914.5
2022-11-30,19.40,76.0,0.0,914.6
2022-12-31,20.80,83.0,0.0,914.3
2023-01-31,20.80,87.0,0.1,915.6
2023-02-28,22.10,86.0,0.0,916.4
2023-03-31,21.95,79.0,0.0,917.1
2023-04-30,20.20,79.0,0.0,916.7
2023-05-31,17.75,74.0,0.0,918.6
2023-06-30,16.40,78.0,0.0,919.9
2023-07-31,17.10,71.0,0.0,920.4
2023-08-31,19.25,68.0,0.0,919.1
2023-09-30,23.10,58.5,0.0,918.0
2023-10-31,22.90,78.0,0.0,916.0
2023-11-30,24.10,68.5,0.0,915.3
2023-12-31,23.60,76.0,0.0,915.5

In [3]:
#

df["date"] = pd.to_datetime(df["time"])


#df.set_index("year", inplace=True)


#find yearly median for temperature`, `relative humidity`, `precipitation`, and `surface pressure`

yearly_median=df.resample("YE") [["temperature_2m","relative_humidity_2m","precipitation","surface_pressure"]].median()

yearly_median.to_csv("data/csv/yearly_median_csv")
yearly_median

,temperature_2m,relative_humidity_2m,precipitation,surface_pressure
year,,,,
2022-12-31,19.1,77.0,0.0,915.2
2023-12-31,21.2,76.0,0.0,917.2

In [4]:
# Read br_final.csv into  new notebook

br = pd.read_csv("data/csv/br_final.csv")
br.dropna(inplace=True)
#Remove 'avg_unemp_perc' from br_final.csv
br = br.drop(columns="avg_unemp_perc")

br["year"] = pd.to_datetime(br['year'])

br.set_index("year", inplace=True)
br

,country,subdivision,type,million_60kgs_bag,nonbear_mill_trees,bear_mill_trees,nonbear_thous_hect,bear_thous_hect,trees_hect_bear,trees_hect_nonbear
year,,,,,,,,,,
1970-01-01 00:00:00.000002002,Brazil,Parana,Arabica,0.5,1500.0,4465.0,495.0,2120.0,2106.0,3030.0
1970-01-01 00:00:00.000002003,Brazil,Parana,Arabica,2.6,1125.0,5265.0,315.0,2360.0,2231.0,3577.0
1970-01-01 00:00:00.000002004,Brazil,Parana,Arabica,2.2,631.0,5050.0,205.0,2174.0,2323.0,3075.0
1970-01-01 00:00:00.000002005,Brazil,Parana,Arabica,2.6,466.0,5255.0,148.0,2305.0,2280.0,3149.0
1970-01-01 00:00:00.000002006,Brazil,Parana,Arabica,1.8,581.0,5330.0,175.0,2298.0,2319.0,3320.0
...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000002022,Brazil,Minas Gerais,Arabica,24.5,1500.0,6010.0,470.0,2010.0,2990.0,3191.0
1970-01-01 00:00:00.000002022,Brazil,Espirito Santo,Arabica,3.7,1500.0,6010.0,470.0,2010.0,2990.0,3191.0
1970-01-01 00:00:00.000002022,Brazil,Espirito Santo,Robusta,15.7,1500.0,6010.0,470.0,2010.0,2990.0,3191.0
1970-01-01 00:00:00.000002022,Brazil,Sao Paulo,Arabica,4.6,1500.0,6010.0,470.0,2010.0,2990.0,3191.0
1970-01-01 00:00:00.000002022,Brazil,Parana,Arabica,1.0,1500.0,6010.0,470.0,2010.0,2990.0,3191.0

In [5]:
yearly_median

,temperature_2m,relative_humidity_2m,precipitation,surface_pressure
year,,,,
2022-12-31,19.1,77.0,0.0,915.2
2023-12-31,21.2,76.0,0.0,917.2

In [6]:
#yearly_median_br= br.resample("YE")[[]]

#br.to_csv("data/csv/br.csv")

merge_data=pd.merge(br,yearly_median, on="year",how ="outer")
#print("Right Join Result:")
#merge_data1= merge_data.drop=(columns="time")
merge_data

,country,subdivision,type,million_60kgs_bag,nonbear_mill_trees,bear_mill_trees,nonbear_thous_hect,bear_thous_hect,trees_hect_bear,trees_hect_nonbear,temperature_2m,relative_humidity_2m,precipitation,surface_pressure
year,,,,,,,,,,,,,,
1970-01-01 00:00:00.000002002,Brazil,Parana,Arabica,0.5,1500.0,4465.0,495.0,2120.0,2106.0,3030.0,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000002003,Brazil,Parana,Arabica,2.6,1125.0,5265.0,315.0,2360.0,2231.0,3577.0,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000002004,Brazil,Parana,Arabica,2.2,631.0,5050.0,205.0,2174.0,2323.0,3075.0,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000002005,Brazil,Parana,Arabica,2.6,466.0,5255.0,148.0,2305.0,2280.0,3149.0,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000002006,Brazil,Parana,Arabica,1.8,581.0,5330.0,175.0,2298.0,2319.0,3320.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000002022,Brazil,Espirito Santo,Robusta,15.7,1500.0,6010.0,470.0,2010.0,2990.0,3191.0,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000002022,Brazil,Sao Paulo,Arabica,4.6,1500.0,6010.0,470.0,2010.0,2990.0,3191.0,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000002022,Brazil,Parana,Arabica,1.0,1500.0,6010.0,470.0,2010.0,2990.0,3191.0,NaN,NaN,NaN,NaN
2022-12-31 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1,77.0,0.0,915.2
2023-12-31 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.2,76.0,0.0,917.2

In [7]:
#year median for combined data........